*{
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 0;
padding: 0;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>courseara test</title>
    <link rel="stylesheet" href="corseara.css">
     
</head>
<body>
   
   
       <div class="header"> <h1> language</h1></div>
           
        <div class="main">  
          <div class="row">
       <div class="col-lg-3 col"><h2 class="h2 ht">Html</h2><p>HTML is the standard markup language for Web pages.

         With HTML you can create your own Website.
         
         </p></div>
       <div class="col-lg-3 col2"><h2 class="h2 cs ">Css</h2><p >CSS is the language we use to style an HTML document.

        
         
         This tutorial will teach you CSS from basic to advanced.</p></div>
       <div class="col-lg-3 col3"><h2 class="h2 js">Js</h2><p class="p">JavaScript is the world's most popular programming language.

         JavaScript is the programming language of the Web.
         
         JavaScript is easy to learn.
         
 </p></div>
       
    </div>
  </div>
   </body>
</html>
